td.fc-day-number {
    text-align: right;
}
td.fc-day-number.fc-sun {
    color: red;
}
td.fc-day-number.fc-sat {
    color: blue;
}
.fc-other-month {
    opacity: .5;
}
#calendar {
  width: 100%;
}
.modal-dialog {
	width: 500px;
}
.fc-unthemed a {
	color: white;
}
.fc-unthemed td {
    border-color: #ddd;
}
th.fc-day-header.fc-widget-header {
    padding: 10px;
    background: #428b42;
    border-color: green;
    color: white;
}
.fc-list-heading {
    border-top-width: 0;
    background: #428b42;
}

td.fc-day.fc-widget-content.fc-today.fc-state-highlight {
    background: lightcyan;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header {
  background: #428b42;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
    border-color: #ddd;
}