.fc-unthemed thead {
    background: transparent;
}
tr.fc-list-heading td.fc-widget-header {    
    background: #428b42;
    border-color: green;
}
tr.fc-list-heading td.fc-widget-header a {    
    color: white;
}
tr.fc-list-item {
    background: #b2d8b2;
}

td.fc-day-number {
    text-align: right;
}
td.fc-day-top a.fc-day-number {
    color: black;
}
td.fc-day-top.fc-today a.fc-day-number {
    color: green;
}
td.fc-day-number.fc-sun, td.fc-day-top.fc-sun a.fc-day-number {
    color: red;
}
td.fc-day-number.fc-sat, td.fc-day-top.fc-sat a.fc-day-number {
    color: blue;
}
.fc-other-month {
    opacity: .5;
}
#calendar {
  width: 100%;
  margin-bottom: 20px;
}
.fc-unthemed td {
    border-color: #ddd;
}
th.fc-day-header.fc-widget-header, th.fc-day-header.fc-widget-header a {
    padding: 10px;
    background: #428b42;
    border-color: green;
    color: white;
}
th.fc-axis.fc-widget-header {
    background: #428b42;
    border-color: green;
    color: white;
}
.fc-list-heading {
    border-top-width: 0;
    background: #428b42;
}
td.fc-day.fc-widget-content.fc-today.fc-state-highlight, td.fc-day.fc-widget-content.fc-today {
    background: #b2d8b2;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #4ca64c;
}