h1.stats {  
  padding: 10px 20px 0 20px;
  margin: 0;
}
.panel{
  background:#fff; border:1px solid #ddd; margin: 15px 0; overflow:hidden;
}
.panel-radius{
  border-radius:7px;
}
.panel-danger { border-color: #d9534f; border-radius: 5px; }
.panel-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.panel-danger h1.stats{
  background: #d9534f;
  color: white;
}
.panel-success { border-color: #5cb85c; border-radius: 5px; }
.panel-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.panel-success h1.stats{
  background: #5cb85c;
  color: white;
}
.panel-default {  border-color: #999999; border-radius: 5px; }
.panel-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.panel-default h1.stats{
  background: #999999;
  color: white;
}
.panel-primary {  border-color: #428bca; border-radius: 5px; }
.panel-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.panel-primary h1.stats{
  background: #428bca;
  color: white;
}
.panel-info { border-color: #5bc0de; border-radius: 5px; }
.panel-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.panel-info h1.stats {
    background: #5bc0de;
    color: white;
    font-weight: bold;
}
.panel-warning {  border-color: #f0ad4e; border-radius: 5px; }
.panel-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}
.panel-warning h1.stats{
  background: #f0ad4e;
  color: white;
}

.shape-text{
  color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  transform:rotate(30deg);
} 
.panel-body{
  padding:0 20px 20px;
  height: 90px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}