body {
    overflow-x: hidden;
}

#wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 50px; 
  padding-left: 230px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -230px;
  top: 51px;
  left: 230px;
  width: 230px;
  background: #25441a;
  position: fixed;
  height: 100%;
  overflow-x: hidden; /* Disable horizontal scroll */
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  padding: 0 20px 20px 20px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 230px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #335628;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
  list-style: none;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  background-color: #25441a;
  color: darkseagreen;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar-nav li a span:before {
  left: 0;
}

.sidebar-nav> li> a.active {
  color: white;
  text-decoration: none;
  background-color: #203F15;
}

.sidebar-nav> li.active> a {
  color: #fff;
  background-color: #1d3813;
  text-decoration: none;
  border-left: 5px solid goldenrod;  
  text-indent: 7.5px;  
}

.sidebar-nav li a:hover,
.sidebar-nav> li.active> a:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav> li a:toggled,
.sidebar-nav> li a:focus,
.sidebar-nav> li> a.active:focus {
  text-decoration: none;
  color: #fff;
  background-color: #1d3813;
}

ul#den li {
  line-height: 30px;
  margin-left: -20px;
}

ul#den li a {
  background-color: transparent;
}

ul#den> li.active> a,
ul#den li a:active {
  color: #fff;
  border-left: 0px;
}

ul#den li a:hover,
ul#den> li.active> a:hover {
  color: #fff;
  text-decoration: none;
  text-indent: 10px;
}

ul#den li a:toggled,
ul#den li a:focus  {
  text-decoration: none;
}

ul#med li {
  line-height: 30px;
  margin-left: -20px;
}

ul#med li a {
  background-color: transparent;
}

ul#med> li.active> a,
ul#med li a:active {
  color: #fff;
  border-left: 0px;
}

ul#med li a:hover,
ul#med> li.active> a:hover {
  color: #fff;
  text-decoration: none;
  text-indent: 10px;
}

ul#med li a:toggled,
ul#med li a:focus  {
  text-decoration: none;
}

ul#demo li {
  line-height: 30px;
  margin-left: -20px;
}
ul#demo {
    background-color: #244617;
}
ul#demo li a {
  background-color: transparent;
}

ul#demo> li.active> a,
ul#demo li a:active {
  color: #fff;
  border-left: 0px;
}

ul#demo li a:hover,
ul#demo> li.active> a:hover {
  color: #fff;
  text-decoration: none;
  text-indent: 10px;
}

ul#demo li a:toggled,
ul#demo li a:focus  {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  text-decoration: none;
  float: left;
  color: #fff;
  margin-left: 10px;
  margin-right: 0;
}

@media (max-width:768px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.toggled {
    position: relative;
    margin-left: 230px;
  }

  #wrapper.toggled #sidebar-wrapper {
    left: 230px;
    width: 230px;
    transition: all 0.4s ease 0s;
  }
}
