/*CUSTOM STYLES*/
.country-list li a {
  display: block;
  text-decoration: none;
  background-color: #25441a;
  color: darkseagreen;
  padding-top: 5px;
  padding-bottom: 5px;
}
textarea {
  resize: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
.btn-toolbar h4 {
  line-height: 35px;
  padding-left: 5px;
}
@media print {
  /* style sheet for print goes here */
  .btn, .form-control {  display:none; }
  thead {
    background-color: #eee;
    color: #666666;
    font-weight: bold;
  }
}
.table {
  margin-bottom: 0;
}
.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}
a.demo {
  text-indent: 7.5px;
}
.navbar>.container-fluid .navbar-brand {
  color: white;
}
@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -5px;
  }
  .navbar-right {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .left-pane {
    margin-bottom: 15px;
  }  
  .pagination {
    margin: 0;
  }
  input#keywords {
    margin-top: 20px;
  }
}
@media only screen and (min-width:768px){
  .dropdown:hover .dropdown-menu {
      display: block;
  }  
  .dropdown-menu>li> a:hover {
      background-color: darkseagreen;
  }
  .dropdown:hover .dropdown-toggle{
      color: white;
      background-color: black;
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-menu>li> a {
  line-height: 30px;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}
.page-header {
  padding-bottom:9px;
  margin:20px 0 20px;
  border-bottom:1px solid #eee
}
.letterhead {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

/*For Login Page*/
.auth-form {
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
}
.vertical-offset-100{
    padding-top:10px;
}
.profile-img {
  width: 80px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  padding: 20px 0 5px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid lightgray;
}

thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
}

/* Pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination>.active>a {
  background-color: #316d1e;
  border-color: #316d1e;
  color: #fff;
  cursor: pointer;
}

.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: #46992c;
  border-color: #46992c;
  color: #fff;
  cursor: pointer;
}
.pagination>li>a {
    color: #316d1e;
    cursor: pointer;
}
div.pagination a:hover {
  background-color: #46992c;
  border-color: #46992c;
  color: #fff;
  cursor: pointer;
}
div.pagination>.active> a {
  background-color: #316d1e;
  border-color: #316d1e;
  color: #fff;
  cursor: pointer;
}

.filter input { text-indent: 20px;}
.filter .fa-filter { 
  position: absolute;
  top: 10px;
  left: 30px;
}
/* Formatting search box */
.navbar-form {
  margin: 0;
  border-top: 0;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
@media only screen and (min-width:768px){
  .navbar-form {
    padding: 8px;
    margin: 0;
    border-bottom: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    box-shadow: none;
  }
}
#search-box { 
  text-indent: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
}
.fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
}
.fa-spinner {
  position: absolute;
  top: 10px;
  right: 10px;
  color: forestgreen;
}
#search-box{
  position: relative;
}
#country-list{
  position: absolute;  
  margin-top: 10px;      
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Formatting result items */
#country-list li {
  margin-left: -40px;
  padding: 7px 10px;
  border-bottom: 1px solid #CCCCCC;
  border-top: none;
  cursor: pointer;
  background: #D8E8D8;
  float: none;
  text-decoration: none;
  display: block;
}

#country-list li a:link {
  color: darkgreen;
}

#country-list li a:hover, #country-list li:hover {
  background: darkseagreen;
  color: darkgreen;
  text-decoration: none;
}

.edit{
 width: 100%;
 height: 25px;
}
.editMode{
 border: 1px solid black;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#overlay div {
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-32px;
  margin-left:-32px;
}

.panel-table .panel-body{
  padding:0;
}
/*checkbox and radio*/
.checkbox-inline, .radio-inline {
  padding-left: 0;
}
input[type=checkbox],
input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 18px;
    height: 18px;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none !important;
}

input[type=checkbox]+.lbl,
input[type=radio]+.lbl {
  /* position: relative; */
  z-index: 11;
  display: inline-block;
  margin: 0;
  top: 1px;
  padding-right: 5px;
  line-height: 20px;
  min-height: 14px;
  min-width: 14px;
  font-weight: normal;
}

input[type=checkbox]+.lbl.padding-16::before,
input[type=radio]+.lbl.padding-16::before {
    margin-right: 16px;
}

input[type=checkbox]+.lbl.padding-12::before,
input[type=radio]+.lbl.padding-12::before {
    margin-right: 12px;
}

input[type=checkbox]+.lbl.padding-8::before,
input[type=radio]+.lbl.padding-8::before {
    margin-right: 8px;
}

input[type=checkbox]+.lbl.padding-4::before,
input[type=radio]+.lbl.padding-4::before {
    margin-right: 4px;
}

input[type=checkbox]+.lbl.padding-0::before,
input[type=radio]+.lbl.padding-0::before {
    margin-right: 0px;
}

input[type=checkbox]+.lbl::before,
input[type=radio]+.lbl::before {
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 11px;
    top: -1px;
    color: green;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 13px;
    line-height: 13px;
    min-width: 13px;
    margin-right: 1px;
    margin-top: -5px;
}

input[type=checkbox]:checked+.lbl::before,
input[type=radio]:checked+.lbl::before {
    display: inline-block;
    content: '\f00c';
    background-color: #F5F8FC;
    border-color: #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

input[type=checkbox]:hover+.lbl::before,
input[type=radio]:hover+.lbl::before,
input[type=checkbox]+.lbl:hover::before,
input[type=radio]+.lbl:hover::before {
    border-color: green;
}

input[type=checkbox]:active+.lbl::before,
input[type=radio]:active+.lbl::before,
input[type=checkbox]:checked:active+.lbl::before,
input[type=radio]:checked:active+.lbl::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=checkbox]:disabled+.lbl::before,
input[type=radio]:disabled+.lbl::before,
input[type=checkbox][disabled]+.lbl::before,
input[type=radio][disabled]+.lbl::before,
input[type=checkbox].disabled+.lbl::before,
input[type=radio].disabled+.lbl::before {
    background-color: #DDD !important;
    border-color: #CCC !important;
    box-shadow: none !important;
    color: #BBB;
}

input[type=radio]+.lbl::before {
    border-radius: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=radio]:checked+.lbl::before {
    content: "\2022";
    background-color: green;
}